@use '../variables';

.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    display: block;

    &--primary {
        color: variables.$textColor;
        background-color: variables.$secondaryTextColor;
    }

    @media (max-width: 640px) {
        width: 80%;
    }
}