
@use 'variables';
@use 'components/infos_bar';
@use 'components/buttons';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    list-style: none;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.header {
    margin-top: 60px;
    padding: 160px 0 0;
    background-image: url('../images/baloes.jpg');
    background-size: auto;
    background-position: center;    
    background-color: variables.$overlay;
    content: '';
    opacity: .5;
}

.container {
    padding: 80px 0;
    display: block;
    gap: 24px;
    background-image: linear-gradient(variables.$withe, variables.$blue);  
    
    &__text {
        margin-bottom: 40px;        
        
        @media (max-width: 640px) {
            font-size: 16px;
            width: 90%;
            margin-bottom: 18px; 
        }

        @media (min-width: 641px) and (max-width: 1024px) {
            font-size: 24px;
        }
    }

    &__infos {
        display: flex;
        justify-content: center;  

        @media (max-width: 641px) {
            display: block;
        }

        &__icon {
            width: 100%;
            font-size: 48px;

            @media (max-width: 641px) {
                margin-bottom: 18px;
            }

            span {
                font-size: 48px;

                @media (max-width: 1020px) {
                    font-size: 32px;
                }
            }
        }

        &__info {
            width: 100%;
        }
    }
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}